<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/css/style.css">
    <title>Comida Italiana</title>
    <link rel="icon" href="../public/img/icon.png">
</head>

<body onload="carregarRestaurante()">

    <div class="container">
        <a href="index.html">
            <img src="../public/img/arrw.png" alt="Voltar">
        </a>
        <div class="teste">


        </div>

    </div>

    <div class="conteudoDestaque container ">
        <div class="alinharTexto">
            <h2>Restaurantes italianos 🍝</h2>
        </div>
    </div>

    <footer>
        <div class="container Flex">
            <img src="../public/img/logoBranca.png" alt="Logo" width="150x" height="150px">
            <br>
            <a href="sobre.html" class="linkDecoration">Sobre</a>
            <br>
            <a href="trabalheconosco.html" class="linkDecoration">Trabalhe conosco</a>
            <br>
            <a href="https://github.com/andradejao/esquinadesampa" class="linkDecoration" target="_blank">Material do
                projeto</a>

            <div id="social">
                <a href="https://www.instagram.com/" target="_blank"><img src="../public/img/instagram.png"
                        alt="Instagram"></a>
                <a href="https://www.whatsapp.com/?lang=pt_BR" target="_blank"><img src="../public/img/whatsapp.png"
                        alt="Whatsapp"></a>
                <a href="https://www.facebook.com/?locale=pt_BR" target="_blank"><img src="../public/img/facebook.png"
                        alt="Facebook"></a>
            </div>
            <div id="copyright">
                <p>© 2024 - Esquina de Sampa / Este site é um projeto integrador</p>
            </div>
        </div>
    </footer>
    <script src="../public/js/bootstrap.min.js"></script>
    <script src="./js/restaurant.js"></script>

</body>

</html>