<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/css/style.css">
    <title>Sobre Nós</title>
    <link rel="icon" href="../public/img/icon.png">
</head>

<body>
    <div class="container">
        <a href="index.html">
            <img src="../public/img/arrw.png" alt="Voltar">
        </a>
        <br>
        <div class="imgSobre">
            <a href="index.html">
            <img src="../public/img/logo.png" alt="Logo" width="200x" height="200px">
        </a>
        </div>
        <h1>Sobre o projeto</h1>
        <p>O <strong>Esquina de Sampa</strong> é um projeto integrador desenvolvido para conclusão do curso Técnico em
            Informática no Senac Tatuapé. A aplicação visa divulgar restaurantes de bairro pouco conhecidos em São
            Paulo, combinando tecnologias de front-end (<strong>HTML, CSS, JavaScript</strong>) e back-end
            (<strong>Node.js, Express, MySQL</strong>) para criar uma plataforma eficiente. O projeto oferece uma
            experiência multiplataforma, destacando a cultura
            gastronômica local e aplicando os conhecimentos técnicos adquiridos no curso.</p>


        <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="../public/img/joao.jpeg" class="img-fluid rounded-start" alt="Foto João">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">João Vitor Andrade</h5>
                        <p class="card-text">Responsável pelo desenvolvimento do back-end, infraestrutura, banco de
                            dados e front-end.
                        </p>
                        <a href="https://github.com/andradejao" target="_blank">
                            <img src="../public/img/github.png" alt="GitHub João">
                        </a>
                        <a href="https://github.com/andradejao" class="linkDecorationSobre" target="_blank">GitHub</a>
                        <br>
                        <br>

                        <a href="https://www.linkedin.com/in/jo%C3%A3o-vitor-andrade-289216271/" target="_blank">
                            <img src="../public/img/linkedin.png" alt="Linkedin João">
                        </a>
                        <a href="https://www.linkedin.com/in/jo%C3%A3o-vitor-andrade-289216271/"
                            class="linkDecorationSobre" target="_blank">LinkedIn</a>
                        <br>
                        <br>

                        <a href="https://www.instagram.com/andradejao_/" target="_blank">
                            <img src="../public/img/instagram.png" alt="Instagram João">
                        </a>
                        <a href="https://www.instagram.com/andradejao_/" class="linkDecorationSobre"
                            target="_blank">Instagram</a>
                    </div>
                </div>
            </div>
        </div>



        <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="../public/img/camila.jpeg" class="img-fluid rounded-start" alt="Foto Camila">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Camila Yukari Jodai</h5>
                        <p class="card-text">Responsável pelo desenvolvimento do front-end, wireframes e a experiência
                            de usuário</p>
                        <a href="https://github.com/camilajodai" target="_blank">
                            <img src="../public/img/github.png" alt="GitHub Camila">
                        </a>
                        <a href="https://github.com/camilajodai" class="linkDecorationSobre" target="_blank">GitHub</a>
                        <br>
                        <br>

                        <a href="https://www.linkedin.com/in/camila-jodai-330676271/" target="_blank">
                            <img src="../public/img/linkedin.png" alt="Linkedin Camila">
                        </a>
                        <a href="https://www.linkedin.com/in/camila-jodai-330676271/" class="linkDecorationSobre"
                            target="_blank">LinkedIn</a>
                        <br>
                        <br>

                        <a href="https://www.instagram.com/camilaayj/" target="_blank">
                            <img src="../public/img/instagram.png" alt="Instagram Camila">
                        </a>
                        <a href="https://www.instagram.com/camilaayj/" class="linkDecorationSobre"
                            target="_blank">Instagram</a>
                    </div>
                </div>
            </div>
        </div>
    



    <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="../public/img/pedro.jpeg" class="img-fluid rounded-start" alt="Foto Pedro">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Pedro Henrique dos Santos</h5>
                    <p class="card-text">Responsável pelo desenvolvimento do front-end, wireframes e a experiência de usuário</p>
                    <a href="https://github.com/pedrohs01" target="_blank">
                        <img src="../public/img/github.png" alt="GitHub Pedro">
                    </a>
                    <a href="https://github.com/pedrohs01" class="linkDecorationSobre" target="_blank">GitHub</a>
                    <br>
                    <br>

                    <a href="https://www.linkedin.com/in/pedro-henrique-96a747288/" target="_blank">
                        <img src="../public/img/linkedin.png" alt="Linkedin Pedro">
                    </a>
                    <a href="https://www.linkedin.com/in/pedro-henrique-96a747288/" class="linkDecorationSobre"
                        target="_blank">LinkedIn</a>
                    <br>
                    <br>

                    <a href="https://www.instagram.com/_pedrosantozs/" target="_blank">
                        <img src="../public/img/instagram.png" alt="Instagram Pedro">
                    </a>
                    <a href="https://www.instagram.com/_pedrosantozs/" class="linkDecorationSobre"
                        target="_blank">Instagram</a>
                </div>
            </div>
        </div>
    </div>
</div>




    <footer>
        <div class="container Flex">
            <img src="../public/img/logo.png" alt="Logo" width="150x" height="150px">
            <br>
            <a href="sobre.html" class="linkDecoration">Sobre</a>
            <br>
            <a href="trabalheconosco.html" class="linkDecoration">Trabalhe conosco</a>
            <br>
            <a href="https://github.com/andradejao/esquinadesampa" class="linkDecoration" target="_blank">Material do
                projeto</a>

            <div id="social">
                <a href="..." target="_blank"><img src="../public/img/instagram.png" alt="Instagram"></a>
                <a href="..." target="_blank"><img src="../public/img/whatsapp.png" alt="Whatsapp"></a>
                <a href="..." target="_blank"><img src="../public/img/facebook.png" alt="Facebook"></a>
            </div>
            <div id="copyright">
                <p>© 2024 - Esquina de Sampa / Este site é um projeto integrador</p>
            </div>
        </div>
    </footer>
</body>

</html>