<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/css/style.css">
    <link rel="stylesheet" href="../public/css/responsive.css">
    <title>Sobre Nós</title>
    <link rel="icon" href="../public/img/icon.png">
</head>

<body>
    <div class="container">
        <a href="index.html">
            <img src="../public/img/arrw.png" alt="Voltar">
        </a>
        <br>
        <div class="imgSobre">
            <a href="index.html">
                <img src="../public/img/logo.png" alt="Logo" width="200x" height="200px">
            </a>
        </div>
        <h1 class="text">Sobre o projeto</h1>
        <p>O <strong>Esquina de Sampa</strong> é um projeto integrador desenvolvido para conclusão do curso Técnico em
            Informática no Senac Tatuapé. A aplicação visa divulgar restaurantes de bairro pouco conhecidos em São
            Paulo, combinando tecnologias de front-end (<strong>HTML, CSS, JavaScript</strong>) e back-end
            (<strong>Node.js, Express, MySQL</strong>) para criar uma plataforma eficiente. O projeto oferece uma
            experiência multiplataforma, destacando a cultura
            gastronômica local e aplicando os conhecimentos técnicos adquiridos no curso.</p>

        <div class="cardsSobre">
            <div class="card mb-4" style="width: 18rem;" id="">
                <img src="../public/img/joao.jpeg" class="card-img-top" alt="Foto João">
                <div class="card-body">
                    <h5 class="card-title">João Vitor Andrade</h5>
                    <p class="card-text">Responsável pelo desenvolvimento do back-end, infraestrutura, banco de
                        dados e front-end.
                    </p>
                    <div class="d-flex align-items-center">
                        <a href="https://github.com/andradejao" target="_blank">
                            <img src="../public/img/github.png" alt="GitHub João" class="me-2">
                        </a>
                        <a href="https://github.com/andradejao" class="linkDecorationSobre" target="_blank">GitHub</a>
                    </div>
                    <br>
                    <div class="d-flex align-items-center">
                        <a href="https://www.linkedin.com/in/jo%C3%A3o-vitor-andrade-289216271/" target="_blank">
                            <img src="../public/img/linkedin.png" alt="Linkedin João" class="me-2">
                        </a>
                        <a href="https://www.linkedin.com/in/jo%C3%A3o-vitor-andrade-289216271/"
                            class="linkDecorationSobre" target="_blank">LinkedIn</a>
                    </div>
                    <br>
                    <div class="d-flex align-items-center">
                        <a href="https://www.instagram.com/andradejao_/" target="_blank">
                            <img src="../public/img/instagram_popularicon.png" alt="Instagram João" class="me-2">
                        </a>
                        <a href="https://www.instagram.com/andradejao_/" class="linkDecorationSobre"
                            target="_blank">Instagram</a>
                    </div>
                </div>
            </div>
            <!-- ------------------------------------------------------------------------------------------- -->
            <div class="card mb-4" style="width: 18rem;">
                <img src="../public/img/camila.jpeg" class="card-img-top" alt="Foto Camila">
                <div class="card-body">
                    <h5 class="card-title">Camila Yukari Jodai</h5>
                    <p class="card-text">Responsável pelo desenvolvimento do front-end, wireframes e a experiência
                        de usuário</p>
                    <div class="d-flex align-items-center">
                        <a href="https://github.com/camilajodai" target="_blank">
                            <img src="../public/img/github.png" alt="GitHub Camila" class="me-2">
                        </a>
                        <a href="https://github.com/camilajodai" class="linkDecorationSobre" target="_blank">GitHub</a>
                    </div>
                    <br>
                    <div class="d-flex align-items-center">
                        <a href="https://www.linkedin.com/in/camila-jodai-330676271/" target="_blank">
                            <img src="../public/img/linkedin.png" alt="Linkedin Camila" class="me-2">
                        </a>
                        <a href="https://www.linkedin.com/in/camila-jodai-330676271/" class="linkDecorationSobre"
                            target="_blank">LinkedIn</a>
                    </div>
                    <br>
                    <div class="d-flex align-items-center">
                        <a href="https://www.instagram.com/camilaayj/" target="_blank">
                            <img src="../public/img/instagram_popularicon.png" alt="Instagram Camila" class="me-2">
                        </a>
                        <a href="https://www.instagram.com/camilaayj/" class="linkDecorationSobre"
                            target="_blank">Instagram</a>
                    </div>

                </div>
            </div>
            <!-- ----------------------------------------------------------------------------------------------- -->
            <div class="card mb-4" style="width: 18rem;">
                <img src="../public/img/pedro.jpeg" class="card-img-top" alt="Foto Pedro">
                <div class="card-body">
                    <h5 class="card-title">Pedro Henrique</h5>
                    <p class="card-text">Responsável pelo desenvolvimento do front-end, wireframes e a experiência
                        de usuário</p>
                    <div class="d-flex align-items-center">
                        <a href="https://github.com/pedrohs01" target="_blank">
                            <img src="../public/img/github.png" alt="GitHub Pedro" class="me-2">
                        </a>
                        <a href="https://github.com/pedrohs01" class="linkDecorationSobre" target="_blank">GitHub</a>
                    </div>
                    <br>
                    <div class="d-flex align-items-center">
                        <a href="https://www.linkedin.com/in/pedro-henrique-96a747288/" target="_blank">
                            <img src="../public/img/linkedin.png" alt="Linkedin Pedro" class="me-2">
                        </a>
                        <a href="https://www.linkedin.com/in/pedro-henrique-96a747288/" class="linkDecorationSobre"
                            target="_blank">LinkedIn</a>
                    </div>
                    <br>
                    <div class="d-flex align-items-center">
                        <a href="https://www.instagram.com/_pedrosantozs/" target="_blank">
                            <img src="../public/img/instagram_popularicon.png" alt="Instagram Pedro" class="me-2">
                        </a>
                        <a href="https://www.instagram.com/_pedrosantozs/" class="linkDecorationSobre"
                            target="_blank">Instagram</a>
                    </div>

                </div>
            </div>
        </div>

        <hr>
        <div class="d-flex justify-content-center">
            <img src="../public/img/waiter.png" alt="Foto Garçom" class="imgTrabalho img-fluid">
        </div>
        <h2 class="text">Cadastre aqui seu restaurante!</h2>
        <p>Na <strong>Esquina de Sampa</strong>, você têm a oportunidade de cadastrar seus próprios restaurantes de
            pequeno
            porte, inserindo seus estabelecimentos no mapa gastronômico de São Paulo.</p>
        <a href="trabalheconosco.html" class="linkDecorationCadastro">Clique <span id="destacado">aqui</span> e
            cadastre-se!</a>
    </div>

    <footer>
        <div class="container Flex">
            <img src="../public/img/logoBranca.png" alt="Logo" width="150x" height="150px">
            <br>
            <a href="sobre.html" class="linkDecoration">Sobre</a>
            <br>
            <a href="trabalheconosco.html" class="linkDecoration">Trabalhe conosco</a>
            <br>
            <a href="https://github.com/andradejao/esquinadesampa" class="linkDecoration" target="_blank">Material do
                projeto</a>

            <div id="social">
                <a href="https://www.instagram.com/" target="_blank"><img src="../public/img/instagram_icon.png"
                        alt="Instagram"></a>
                <a href="https://www.whatsapp.com/?lang=pt_BR" target="_blank"><img
                        src="../public/img/whatsapp_icon.png" alt="Whatsapp"></a>
                <a href="https://www.facebook.com/?locale=pt_BR" target="_blank"><img
                        src="../public/img/facebook_icon.png" alt="Facebook"></a>
            </div>
            <div id="copyright">
                <p>© 2024 - Esquina de Sampa / Este site é um projeto integrador</p>
            </div>
        </div>
    </footer>
</body>

</html>