<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../public/css/bootstrap.min.css">
  <link rel="stylesheet" href="../public/css/style.css">

  <title>Esquina de Sampa</title>
  <link rel="icon" href="../public/img/icon.png">
</head>

<body>
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <nav class="navbar bg-body-tertiary">
        <a class="navbar-brand" href="index.html">
          <img src="../public/img/logo.png" alt="Bootstrap" width="150" height="150">
        </a>
      </nav>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="index.html">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="sobre.html">Sobre</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="trabalheconosco.html">Trabalhe conosco</a>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Buscar por bairro" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Buscar</button>
        </form>
      </div>
    </div>
  </nav>

  <div class="container">
    <h2>Cadastre seu Restaurante</h2>
  </div>

  <div class="container">
    <form onsubmit="return false" id="frmCadastro">
      <div class="col-md-8">
        <label for="inputName" class="form-label">Nome do Restaurante <span>*</span></label>
        <input type="text" class="form-control" id="inputName" maxlength="50" spellcheck="false" required>
      </div>
      <br>
      <div class="col-md-8">
        <label for="inputCnpj" class="form-label">CNPJ <span>*</span></label>
        <input type="number" class="form-control" id="inputCnpj" maxlength="20" spellcheck="false" required>
      </div>
      <br>
      <label for="inputCategoria" class="form-label">Culinária <span>*</span></label>
      <select class="form-select" id="selectCategoria" required>
        <option selected></option>
        <option value="arabe">Árabe </option>
        <option value="brasileira">Brasileira </option>
        <option value="coreana">Coreana </option>
        <option value="italiana">Italiana </option>
        <option value="japonesa">Japonesa </option>
        <option value="mexicana">Mexicana </option>
      </select>
      <br>
      <div class="col-md-8">
        <label for="inputPreco" class="form-label">Faixa de Preço (a partir de) <span>*</span></label>
        <input type="number" class="form-control" id="inputPreco" spellcheck="false" required>
      </div>
      <br>

      <div class="alinharFuncionamento">
        <label>Funcionamento <span>*</span></label>
        <br>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="Seg" id="checkSeg">
          <label class="form-check-label" for="checkSeg">Segunda-Feira</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="Ter" id="checkTer">
          <label class="form-check-label" for="checkTer">Terça-feira</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="Qua" id="checkQua">
          <label class="form-check-label" for="checkQua">Quarta-feira</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="Qui" id="checkQui">
          <label class="form-check-label" for="checkQui">Quinta-feira</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="Sex" id="checkSex">
          <label class="form-check-label" for="checkSex">Sexta-feira</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="Sab" id="checkSab">
          <label class="form-check-label" for="checkSab">Sábado</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="Dom" id="checkDom">
          <label class="form-check-label" for="checkDom">Domingo</label>
        </div>
        <br>
        <div class="col-md-3">
          <label class="form-label">Horário <span>*</span></label>
          <br>
          <label for="inputHour">Início</label>
          <input type="time" class="form-control" id="inputHour" spellcheck="false" required>
          <label for="inputHour2">Término</label>
          <input type="time" class="form-control" id="inputHour2" spellcheck="false" required>
        </div>
        <br>
      </div>
      <div class="mb-3">
        <label for="inputDescricao" class="form-label">Descrição <span>*</span></label>
        <textarea class="form-control" id="inputDescricao" rows="3" maxlength="255" style="resize: none;"
          required></textarea>
      </div>
      <br>
      <hr>
      <div class="alinharEndereco">
        <label>Endereço</label>
        <br>
        <br>
        <div class="col-md-8">
          <label for="inputCep" class="form-label">CEP <span>*</span></label>
          <input type="text" class="form-control" id="inputCep" maxlength="8" spellcheck="false" required>
        </div>
        <div class="col-md-8">
          <label for="inputLogradouro" class="form-label">Logradouro <span>*</span></label>
          <input type="text" class="form-control" id="inputLogradouro" maxlength="50" spellcheck="false" required>
        </div>
        <br>
        <div class="col-md-8">
          <label for="inputNumero" class="form-label">Número <span>*</span></label>
          <input type="number" class="form-control" id="inputNumero" spellcheck="false" required>
        </div>
        <br>
        <div class="col-md-8">
          <label for="inputComplemento" class="form-label">Complemento</label>
          <input type="text" class="form-control" id="inputComplemento" spellcheck="false">
        </div>
        <br>
        <div class="col-md-8">
          <label for="inputBairro" class="form-label">Bairro <span>*</span></label>
          <input type="text" class="form-control" id="inputBairro" spellcheck="false" required>
        </div>
        <br>
        <br>
      </div>
      <hr>
      <div class="alinharContato">
        <label>Contato</label>
        <br>
        <br>
        <div class="col-md-8">
          <label for="inputTelefoneResidencial" class="form-label">Telefone Residencial</label>
          <input type="tel" class="form-control" id="inputTelefoneResidencial" maxlength="15" spellcheck="false">
        </div>
        <br>

        <div class="col-md-8">
          <label for="inputTelefoneCelular" class="form-label">Telefone Celular <span>*</span></label>
          <input type="tel" class="form-control" id="inputTelefoneCelular" maxlength="15" spellcheck="false" required>
        </div>
        <br>

        <div class="col-md-8">
          <label for="inputAddress" class="form-label">E-mail</label>
          <input type="email" class="form-control" id="inputAddress" maxlength="50" spellcheck="false" required>
        </div>
        <br>

        <div class="col-md-8">
          <label for="inputWebSite" class="form-label">Website</label>
          <input type="url" class="form-control" id="inputWebSite" maxlength="255" spellcheck="false">
        </div>
        <br>
      </div>
      <hr>
      <div class="alinharFoto">
        <label>Fotos</label>
        <br>
        <br>
        <div class="col-md-8">
          <label for="inputCapa" class="form-label">Foto Capa (url) <span>*</span></label>
          <input type="url" class="form-control" id="inputCapa" maxlength="255" spellcheck="false" required>
        </div>
        <br>

        <div class="col-md-8">
          <label for="inputFoto1" class="form-label">Foto Adicional (url) <span>*</span></label>
          <input type="url" class="form-control" id="inputFoto1" maxlength="255" spellcheck="false" required>
        </div>
        <br>

        <div class="col-md-8">
          <label for="inputFoto2" class="form-label">Foto Adicional (url) <span>*</span></label>
          <input type="url" class="form-control" id="inputFoto2" maxlength="255" spellcheck="false" required>
        </div>
        <br>
      </div>
      <p><span>*</span> obrigatório</p>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary" id="btnSubmitCadastro" onclick="cadastrarRestaurante()">Enviar</button>
      </div>
      <br>
  </div>
  </form>

  <footer>
    <div class="container Flex">
      <img src="../public/img/logoBranca.png" alt="Logo" width="150x" height="150px">
      <br>
      <a href="sobre.html" class="linkDecoration">Sobre</a>
      <br>
      <a href="trabalheconosco.html" class="linkDecoration">Trabalhe conosco</a>
      <br>
      <a href="https://github.com/andradejao/esquinadesampa" class="linkDecoration" target="_blank">Material do
        projeto</a>

      <div id="social">
        <a href="https://www.instagram.com/" target="_blank"><img src="../public/img/instagram_icon.png"
            alt="Instagram"></a>
        <a href="https://www.whatsapp.com/?lang=pt_BR" target="_blank"><img src="../public/img/whatsapp_icon.png"
            alt="Whatsapp"></a>
        <a href="https://www.facebook.com/?locale=pt_BR" target="_blank"><img src="../public/img/facebook_icon.png"
            alt="Facebook"></a>
      </div>
      <div id="copyright">
        <p>© 2024 - Esquina de Sampa / Este site é um projeto integrador</p>
      </div>
    </div>
  </footer>
  <script src="../public/js/bootstrap.min.js"></script>
  <script src="./js/cadastro.js"></script>
  <script src="./js/utilities.js"></script>

</body>

</html>