<!DOCTYPE html>
<html lang="pt-br">
 
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../public/css/bootstrap.min.css">
  <link rel="stylesheet" href="../public/css/style.css">
 
  <title>Esquina de Sampa</title>
  <link rel="icon" href="../public/img/icon.png">
</head>
 
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <nav class="navbar bg-body-tertiary">
        <a class="navbar-brand" href="index.html">
          <img src="../public/img/logo.png" alt="Bootstrap" width="150" height="150">
        </a>
      </nav>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="index.html">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="sobre.html">Sobre</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="trabalheconosco.html">Trabalhe conosco</a>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Buscar por bairro" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Buscar</button>
        </form>
      </div>
    </div>
  </nav>
 
  <div class="conteudoDestaque container">
    <h2>Cadastre seu Restaurante</h2>
 
   
</div>
 
<div class="container">
    <div class="col-md-8">
        <label for="inputName" class="form-label">Nome</label>
        <input type="text" class="form-control" id="inputName" maxlength="50" spellcheck="false" required>
    </div>
<br>
    <div class="col-md-8">
        <label for="inputCnpj" class="form-label">Cnpj</label>
        <input type="text" class="form-control" id="inputCnpj" maxlength="20" spellcheck="false" required>
    </div>
<br>
<label for="inputCategoria" class="form-label">Selecione a Categoria</label>
    <select class="form-select" aria-label="Default select example">
        <option selected></option>
        <option value="1">Árabe </option>
        <option value="2">Brasileira </option>
        <option value="3">Coreana </option>
        <option value="4">Italiana </option>
        <option value="5">Japonesa </option>
        <option value="6">Mexicana </option>
      </select>
<br>
<div class="col-md-8">
    <label for="inputPreco" class="form-label">Faixa de Preço (a partir de:)</label>
    <input type="text" class="form-control" id="inputPreco" maxlength="20" spellcheck="false" required>
</div>
<br>
 
<div class="col-md-8">
    <label for="inputHorario" class="form-label">Horario</label>
    <input type="text" class="form-control" id="inputHorario" maxlength="20" spellcheck="false" required>
</div>
<br>
 
  <div class="mb-3">
    <label for="inputDescricao" class="form-label">Descrição</label>
    <textarea class="form-control" id="inputDescricao" rows="3"></textarea>
  </div>
   
</div>
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
  <footer>
    <div class="container Flex">
      <img src="../public/img/logoBranca.png" alt="Logo" width="150x" height="150px">
      <br>
      <a href="sobre.html" class="linkDecoration">Sobre</a>
      <br>
      <a href="trabalheconosco.html" class="linkDecoration">Trabalhe conosco</a>
      <br>
      <a href="https://github.com/andradejao/esquinadesampa" class="linkDecoration" target="_blank">Material do
        projeto</a>
 
      <div id="social">
        <a href="https://www.instagram.com/" target="_blank"><img src="../public/img/instagram.png" alt="Instagram"></a>
        <a href="https://www.whatsapp.com/?lang=pt_BR" target="_blank"><img src="../public/img/whatsapp.png"
            alt="Whatsapp"></a>
        <a href="https://www.facebook.com/?locale=pt_BR" target="_blank"><img src="../public/img/facebook.png"
            alt="Facebook"></a>
      </div>
      <div id="copyright">
        <p>© 2024 - Esquina de Sampa / Este site é um projeto integrador</p>
      </div>
    </div>
  </footer>
  <script src="../public/js/bootstrap.min.js"></script>
  <script src="./js/restaurant.js"></script>
 
</body>
 
</html>