@media (min-width: 1200px) {
    .flexCardDestaque {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

    }

    #tituloDestaque {
        text-align: center;
    }

    .carousel-item img {
        height: 500px;
        object-fit: cover;
        width: 100%;
    }

    .flexButtonHome {
        display: flex;
        justify-content: space-between;
    }

    .btn {
        width: 200px;
    }

    .alinharDestaque {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
   
      }
      
      .card {
        width: 18rem;
        height: 100%;
        display: flex;
        flex-direction: column;
      }
      
      .card-body {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
      
      .card-title {
        font-size: 1.25rem;
        margin-bottom: 10px;
      }
      
      .card-text {
        font-size: 1rem;
        margin-bottom: 10px;
      }

      .imgTrabalho {
        width: 1280px;
        height: 350px;
        border-radius: 25px;
        margin-bottom: 15px;
        align-items: center;
        justify-content: center;
    }

    .arrumarDetalhes-container {
      display: flex;
      justify-content: space-between; 
      gap: 20px; 
      flex-wrap: wrap; 
  }
  
  .arrumarDetalhes .card {
      flex: 1; 
      min-width: 280px; 
      max-width: 600px; 
      margin: 10px 0;
  }

  .arrumarDetalhes .card-body {
    display: flex;
    flex-direction: column;
}

.arrumarDetalhes .card-body p,
.arrumarDetalhes .card-body a {
    margin-bottom: 15px; 
}

.arrumarDetalhes .card-body a {
    display: flex;
    align-items: center; 
}

.arrumarDetalhes .card-body img {
    margin-right: 10px; 
}

.arrumarDetalhes .card-body p:last-child,
.arrumarDetalhes .card-body a:last-child {
    margin-bottom: 0;
}

#tamanhoLetra {
    font-size: 2em;
}

}