@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Poppins", sans-serif;
    font-size: 1em;
    background-color: #f5f5f5;
}

.container {
    margin: 0 auto;
    padding: 20px 15px 20px 15px;

}

.btn {
    background-color: #8b5e3c;
    color: #fffaf0;
    border: 2px solid #8b5e3c;
    padding: 5px;
    width: 170px !important;

}

.btnDisabled {
    background-color: #A0522D;
    color: #fffaf0;
    border: 2px solid #A0522D;
    padding: 5px;
    width: 170px !important;
    border-radius: 5px;
}

.btn:hover {
    background-color: #A0522D;
    color: #F5F5DC;
}

footer {
    background-color: #8b5e3c;
    text-align: center;
    font-size: medium;
    color: #fffaf0;
}

#social {
    margin-bottom: 25px;
    margin-top: 25px;
}

.linkDecoration {
    text-decoration: none;
    color: #F5F5DC;
    font-size: 1.2em;
}

.imgSobre {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.linkDecorationSobre {
    text-decoration: none;
    font-size: 1.2em;
    color: black;
    margin-left: 10px;
}

.linkDecorationCadastro {
    text-decoration: none;
    font-size: 1.2em;
    color: black;
}

#destacado {
    text-decoration: none;
    font-size: 1.1em;
    font-weight: bold;
}

a {
    text-decoration: none;
}

.imgTrabalho {
    width: 100%;
    height: 200px;
    border-radius: 25px;
    margin-bottom: 15px;
}

.text {
    color: #b5552a;
    font-size: 1.7em;
}

.alinharDestaque {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 10px;
    
}

.alinharTexto {
    text-align: center;
}

.card-title{
    display: flex;
    justify-content: center;
    align-items: center;
}

.teste {
    background-color: #A0522D;
}

.card-img-top{
    max-width: 300px;
    min-width: 250px;
    min-height: 250px;
    max-height: 300px;
}

.content {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23), 0 15px 30px rgba(0, 0, 0, 0.29);
    background-color: #F5F5DC;
    margin-bottom: 50px;
}